	<div class="i_footer">
		<div class="i_foot_list">
			<a href="">应用</a>|
			<a href="">客户端</a>|
			<a href="">联系</a>|
			<a href="">反馈</a>
		</div>
		<p>手机新闻网 i.xxx.com</p>
	</div>
	<script src="js/YuxiSlider.jQuery.min.js"></script>
	<script>
		(function(){
			var deviceWidth = document.documentElement.clientWidth;
			if(deviceWidth > 640) deviceWidth = 640;
			$(".slider").YuxiSlider({
				width:deviceWidth, //容器宽度
				height:180, //容器高度
				control:$('.control'), //绑定控制按钮
				during:4000, //间隔4秒自动滑动
				speed:800, //移动速度0.8秒
				mousewheel:true, //是否开启鼠标滚轮控制
				direkey:true //是否开启左右箭头方向控制
			});
			$('.ui.dropdown').dropdown();
			var content = [
				  /*{ title: 'Andorra' },
				  { title: 'United Arab Emirates' },
				  { title: 'Afghanistan' },
				  { title: 'Antigua' },
				  { title: 'Anguilla' },
				  { title: 'Albania' },
				  { title: 'Armenia' },
				  { title: 'Netherlands Antilles' },
				  { title: 'Angola' },
				  { title: 'Argentina' },
				  { title: 'American Samoa' },
				  { title: 'Austria' },
				  { title: 'Australia' },
				  { title: 'Aruba' },
				  { title: 'Aland Islands' },
				  { title: 'Azerbaijan' },
				  { title: 'Bosnia' },
				  { title: 'Barbados' },
				  { title: 'Bangladesh' },
				  { title: 'Belgium' },
				  { title: 'Burkina Faso' },
				  { title: 'Bulgaria' },
				  { title: 'Bahrain' },
				  { title: 'Burundi' },
				  {	title: '男子酒后大闹KTV点燃汽油，4名警察被烧伤'}*/
				  // etc
				];
				<% newses.forEach(function(news){ %>
					content.push({ title: '<%= news.title %>' });
				<% }); %>
				


				$('.search_icon').click(function(){
					console.log($('.prompt').val());
				});
				$('.ui.search')
			  .search({
			    source: content
			  });
			
		})();
</script>
</body>
</html>