<%- include('header') %>

<link rel="stylesheet" href="css/signin.css">
</head>
<body>



<div class="i_header">
    <a href="javascript:history.back()"><</a>
    <h2>登录</h2>
    <a href="/signup">注册</a>
  </div>
  <div class="i_main">
    <form methor="post">
      <input type="text" placeholder="请输入用户名" maxlength="25" class="user_input username" required autofocus>
      <input type="password" placeholder="登录密码" maxlength="25" class="user_input password" required>
      <a value="登录" class="submit login">登录</a>
    </form>
  </div>
  <div class="i_footer">
    <div class="i_foot_list">
      <a href="">应用</a>|
      <a href="">客户端</a>|
      <a href="">联系</a>|
      <a href="">反馈</a>
    </div>
    <p>手机新闻网 i.xxx.com</p>
  </div>

<div class="err"></div>


<script>
    $(".login").click(function(){

      var data = {
        username: $(".username").val(),
        password: $(".password").val()
      }
      $.post("/signin",{
        username: $(".username").val(),
        password: $(".password").val()
      })
      .done(function(data){
        if (data.err) {
          $(".err").html(data.err);
        }
        if(data.success) {
          window.location.href = '/news';
        }
        console.log(data);
      })
      .fail(function(err){
        console.log(err);
      });
    });
  </script>

<%- include('footer') %>