
.main {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #222;
    background-color: white;
}

.main p {
    margin-bottom: 9px;
    line-height: 1.7rem;
}
.main 
    h1,
.main 
    h2,
.main 
    h3,
.main 
    h4,
.main 
    h5,
.main 
    h6 {
    color: #404040;
    line-height: 36px;
}
.main h1 {
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.main h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.main h3 {
    font-size: 18px;
}
.main h4 {
    font-size: 16px;
}
.main h5 {
    font-size: 14px;
}
.main h6 {
    font-size: 13px;
}
.main hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.main pre{
    blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
.main pre{
    blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
.main pre{
    blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main pre{
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.main pre{
    pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
.main pre{
    sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
