	<div class="i_footer">
		<div class="i_foot_list">
			<a href="">应用</a>|
			<a href="">客户端</a>|
			<a href="">联系</a>|
			<a href="">反馈</a>
		</div>
		<p>手机新闻网 i.xxx.com</p>
	</div>
</body>
</html>