.login_box ul,ul li{
	list-style: none;
}
.login_box ul li{
	float: left;
}
.login_box a{
	text-decoration: none;
}
.login_box a:hover{
	text-decoration: none;
	color: red;
}
.login_box{
	position: fixed;
	width: 400px;
	height: 370px;
	border: 1px solid #f00;
	background-color: #fff;
	transition: all .8s ease;
}
.login_box .center{
	text-align: center;
}
.login_box .l_h{
	padding-top: 2rem;
	font-size: 1.5rem;
	color: #f00;
}
.login_box .tips{
	padding: 1rem 0 ;
	color: #a5a4a4;
}
.login_box label{
	float: left;
	margin-left: 5rem;
	margin-right: .7rem;
}
.login_box .password, .login_box .re-password, .login_box .name{
	margin-right: 1.4rem;
}
.login_box .btn{
	display: block;
	width: 15rem;
	padding: .5rem;
	text-align: center;
	background-color: #f00;
	color: #fff;
	margin-left: 5rem;
}

.login_box .btn:hover{
	background-color: #ce0000;
	color: #fff;
}

.login_box .alert{
	margin-top: 1rem;
	color: red;
}
.login_box .login-input{
	float: left;
	width: 180.59px;
	height: 30px;
	padding-left: .3rem;
	background-color: #fff;
	border: 1px solid #f00;
}
.login_box .login-input input{
	height: 100%;
	width: 169px;
}
.login_box input{
	border: 0;
	background-color: #fff;
}
.login_box input:focus{
	border: 0;
}
.login_box input:focus{
	outline:0 !important
}
.login_box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.login_box .l_con ul li{
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}
.login_foot{
	width: 100%;
	bottom: 0;
	position: absolute;
	background: #fff;
}
.login_foot ul{
	float: right;
}
.login_foot ul li{
	float: left;
	padding-right: .5rem;
	padding-left: .5rem;
	border-left: 1px solid #aaa;	
}
.login_foot ul li:nth-child(1){
	border: 0;
}




.login_box.signup{
	width: 400px;
	height: 649px;
	position: fixed;
	top: 0;
}

.login_box.signup label{
	margin-left: 4rem;
}

.login_box.signup .login-input{
	margin-left: 1rem;
}

.login_box .re-password{
	margin-right: 0.9rem;
}

.login_box .re-password + .login-input{
	margin-left: 0;
}

.login_box .selection, .login_box .avatar, .login_box .resume{
	margin-left: 1.9rem;
}

select {
  border: solid 1px #f00;
  border-radius: 2px;
  /*清除select样式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}

.ui.selection.dropdown{
	padding: 0 .5rem;
}

.login_box .avatar {
    position: relative;
    display: inline-block;
    background: rgba(255,0,0,.8);
    border: 1px solid #f00;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.login_box .avatar input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.login_box .avatar:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.login_box .resume{
	width: 64%;
	margin-left: 4rem;
    margin-top: 1rem;
}
.login_box.signup .btn{
	margin-left: 4rem;
	width: 64%;
}